name: build-and-deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - uses: aws-actions/amazon-ecr-login@v2

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build and Push Image
      run: |
        IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/jaspal-strapi:${{ github.sha }}
        docker build -t $IMAGE ./strapi
        docker push $IMAGE
        echo "IMAGE_URL=$IMAGE" >> $GITHUB_ENV

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Apply
      run: |
        cd terraform
        terraform init
        terraform apply -auto-approve \
          -var="image_url=${IMAGE_URL}" \
          -var="db_password=dummy"
